<ion-header>
  <ion-toolbar class="shadow-medium" color="primary" mode="ios">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>
      <p><small class="font-12 fw600 m0 text-white">Package Name</small></p>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding color="light">
  <ion-row class="p5">
    <ion-searchbar showCancelButton="focus" animated placeholder="Search a channel"></ion-searchbar>

  </ion-row>
  <ion-row class="p5">
    <ion-col>
      <ion-list>
        <ion-item>
          <img class="channel-picture" src="assets/imgs/appLogo.png" />
          <ion-label class="ion-text-wrap pl20">
            <small class="text-dark fw500 font-12">Channel Name</small>
            <p><small class="cap font-12">300 INR / month </small></p>
          </ion-label>
          <ion-icon name='add-circle' color="primary" is-active="false" slot="end"></ion-icon>
        </ion-item>
        <ion-item>
            <img class="channel-picture" src="assets/imgs/appLogo.png" />
          <ion-label class="ion-text-wrap pl20">
            <small class="text-dark fw500 font-12">Channel Name</small>
            <p><small class="cap font-12">300 INR / month </small></p>
          </ion-label>

          <ion-icon name='remove-circle' color="danger" is-active="false" slot="end"></ion-icon>
        </ion-item>
        <ion-item lines="none">
            <img class="channel-picture" src="assets/imgs/appLogo.png" />
          <ion-label class="ion-text-wrap pl20">
            <small class="text-dark fw500 font-12">Channel Name</small>
            <p><small class="cap font-12">300 INR / month </small></p>
          </ion-label>
          <ion-icon name='add-circle' color="primary" is-active="false" slot="end"></ion-icon>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>

</ion-content>

<ion-footer class="center bg-standard shadow-medium p20">
  <div>
    <img src="assets/img-icons/pay-now.png" width="25px" class="va-sub">
    <span class="text-white ml10 va-super">Pay 300 </span>
  </div>
</ion-footer>