<ion-header>
  <ion-toolbar class="shadow-medium" color="primary" mode="ios">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>
      <p><small class="font-12 fw600 m0 text-white">Register Your Complaint</small></p>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light" class="mt20">

  <div class="center m10 p20 bg-standard round-medium">
    <h6 class="m0 pt30 center font-14 text-white">Complaint form</h6>
    <div class="border-solid-hw mtb10"></div>

    <ion-grid>
      <ion-row>
        <ion-col col-sm-6 offset-sm-3>
          <div class="ptb10">
            <div class="box-form-fill pb30">

              <ion-item class="form-fill round-small bg-white font-16 text-dark no-border pl25 mt10">
                <ion-label>Complaint Type</ion-label>
                <ion-select>
                  <ion-select-option value="op1">Option 1</ion-select-option>
                  <ion-select-option value="op2">Option 2</ion-select-option>
                </ion-select>
              </ion-item>

              <ion-item class="form-fill round-small bg-white font-16 text-dark no-border pl25 mt10">
                <ion-label>Select Issue</ion-label>
                <ion-select>
                  <ion-select-option value="op1">Option 1</ion-select-option>
                  <ion-select-option value="op2">Option 2</ion-select-option>
                </ion-select>
              </ion-item>

              <textarea class="form-fill bg-white round-small font-16 text-dark ptb10 plr20 no-border mt10" rows="2"
                type="text" placeholder="Write your remarks"></textarea>

              <ion-button expand="block" class="submit-btn no-border">SUBMIT</ion-button>

            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div class="p10"></div>

</ion-content>