ion-select {
    --placeholder-color: #000 !important;
}

.submit-btn{
    
      color: #000 !important;
    --background: #fff !important;
    --color-activated : #f26628;    
    --border-radius: 3px !important;
    
}