<ion-header>
  <ion-toolbar class="shadow-medium" color="primary" mode="ios">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>
      <p><small class="font-12 fw600 m0 text-white">Bill History</small></p>
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="mt20 " color="light">
  <div class="bg-white round-medium m10 p20 border-b-big-standard">
    <h6 class="text-dark m0 pt30 center font-14">Last Bill Detials</h6>
    <div class="border-solid-hw mtb10"></div>
    <ion-grid class="m0-auto">
      <ion-row>
        <ion-list>
          <ion-item lines="none">
            <img src="assets/img-icons/calendar-orange.png" item-start width="50px" class="va-webkit" />

            <ion-label class="ion-text-wrap pl20">
              <p><small class="text-dark fw500 font-14">Amount : 300</small></p>
              <p><small class="text-dark fw500 cap font-14">Billing Month : May 2019 </small></p>
              <p><small class="text-dark fw500 cap font-14">Due Date : 01-06-2019 </small></p>
              <p><small class="text-dark fw500 cap font-14">Status : Paid </small></p>
            </ion-label>

          </ion-item>
        </ion-list>
      </ion-row>

    </ion-grid>
  </div>

  <div class="p10"></div>


  <div class="bg-white round-medium m10 pt20 plr20 border-b-big-standard">
    <h6 class="text-dark m0 pt30 center font-14">Bill History Logs</h6>
    <div class="border-solid-hw mtb10"></div>
    <ion-row class="p5">
      <ion-col>
        <ion-list>
          <ion-item lines="none">
            <img src="assets/img-icons/calendar-orange.png" item-start width="40px" class="va-webkit" />
            <ion-label class="ion-text-wrap pl20">
              <small class="text-dark fw500 font-12">Amount : 300</small>
              <p><small class="cap font-12">Billing Month : May 2019 </small></p>
            </ion-label>
          </ion-item>
          <ion-item lines="none">
            <img src="assets/img-icons/calendar-orange.png" item-start width="40px" class="va-webkit" />
            <ion-label class="ion-text-wrap pl20">
              <small class="text-dark fw500 font-12">Amount : 400</small>
              <p><small class="cap font-12">Billing Month : April 2019 </small></p>
            </ion-label>
          </ion-item>
          <ion-item lines="none">
            <img src="assets/img-icons/calendar-orange.png" item-start width="40px" class="va-webkit" />
            <ion-label class="ion-text-wrap pl20">
              <small class="text-dark fw500 font-12">Amount : 500</small>
              <p><small class="cap font-12">Billing Month : March 2019 </small></p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>

  </div>

  <div class="p20"></div>

</ion-content>