<ion-content color="secondary" class="img-cover">
  <p text-center>
    <img src="assets/imgs/app-logo.png" class="mt125 center" width="80%" />
  </p>

  <p class="text-white font-12 plr30 center">
    Please enter your phone number to continue.
  </p>

  <div padding>
    <ion-item lines="none">
      <ion-input type="tel" class="center round-small" placeholder="0900 78601 78601"></ion-input>
    </ion-item>
    <ion-button color="primary" expand="block" class="login-button" routerLink="/home" routerDirection="forward">
      Validate</ion-button>
  </div>
  
</ion-content>