$transparent-white: rgba(255, 255, 255, .6);
// This is just to make the header transparent and button/icon with white color
.toolbar-content,
span {
  color: white;
}
.toolbar-background,
ion-navbar,
ion-header {
  background: transparent !important;
  background-color: transparent !important;
  border: none !important;
}
.header-md::after,
.toolbar-background-ios {
  background-image: none;
  border-bottom: 0;
}


.text-input{
  text-align: center !important;
  color: #fff !important;
}

ion-input{
    --placeholder-color: #fff;
    --placeholder-opacity: 1;
}

// Input items
ion-item {
  padding-left: 10px !important;
  margin-bottom: 15px !important;
  color: #fff !important;
  --ion-background-color: rgba(255, 255, 255, .2) !important;
  font-size: 0.9em;
  border-radius: 3px !important;
}
 ::-webkit-input-placeholder {
  color: white !important;
}
.item-inner {
  border-bottom: 0 !important;
  box-shadow: none !important;
  
}
// --
.login-button {
  text-transform: none;
  padding-left: 10px !important;  
  --border-radius: 3px !important;
  
}

.button-native{
    height: 120% !important;
}