<ion-header>
  <ion-toolbar class="shadow-medium" color="primary" mode="ios">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>
      <p><small class="font-12 fw600 m0 text-white">STB Details</small></p>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="bg-light" padding>

  <div class="row">
    <div class="col">
      <div class="tabs">
        <div class="tab border-bw">
          <input type="checkbox" id="chck1">
          <label class="tab-label" for="chck1">Basic</label>
          <div class="tab-content mt-10">
            <ion-list class="mb-10">
              <ion-list-header no-lines>
                STB # 1039
                <ion-icon name="add-circle" size="large" color="primary" item-end class="pr10 text-standard"
                  routerLink="/package-single" routerDirection="forward" class="routerClass"></ion-icon>
              </ion-list-header>
              <ion-item>
                <p>Name</p>
                <p item-end>Base Silver</p>
              </ion-item>
              <ion-item>
                <p>Type</p>
                <p item-end>BSPK</p>
              </ion-item>
              <ion-item>
                <p>Price</p>
                <p item-end>250.00</p>
              </ion-item>
            </ion-list>
          </div>
        </div>
        <div class="tab border-bw">
          <input type="checkbox" id="chck2">
          <label class="tab-label" for="chck2">Standard</label>
          <div class="tab-content mt-10">
            <ion-list class="mb-10">
              <ion-list-header no-lines>
                STB # 1039
                <ion-icon name="add-circle" size="large" color="primary" item-end class="pr10 text-standard"
                  routerLink="/package-single" routerDirection="forward" class="routerClass"></ion-icon>
              </ion-list-header>
              <ion-item>
                <p>Name</p>
                <p item-end>Base Silver</p>
              </ion-item>
              <ion-item>
                <p>Type</p>
                <p item-end>BSPK</p>
              </ion-item>
              <ion-item>
                <p>Price</p>
                <p item-end>250.00</p>
              </ion-item>
            </ion-list>
          </div>
        </div>
        <div class="tab">
          <input type="checkbox" id="chck3">
          <label class="tab-label" for="chck3">Premium</label>
          <div class="tab-content mt-10">
            <ion-list class="mb-10">
              <ion-list-header no-lines>
                STB # 1039
                <ion-icon name="add-circle" size="large" color="primary" item-end class="pr10 text-standard"
                  routerLink="/package-single" routerDirection="forward" class="routerClass"></ion-icon>
              </ion-list-header>
              <ion-item>
                <p>Name</p>
                <p item-end>Base Silver</p>
              </ion-item>
              <ion-item>
                <p>Type</p>
                <p item-end>BSPK</p>
              </ion-item>
              <ion-item>
                <p>Price</p>
                <p item-end>250.00</p>
              </ion-item>
            </ion-list>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>

<ion-footer class="center bg-standard shadow-medium p20">
  <div>
    <img src="assets/img-icons/pay-now.png" width="25px" class="va-sub">
    <span class="text-white ml10 va-super">Pay 300 </span>
  </div>
</ion-footer>