#profile-image {
    display: block;
    border-radius: 50%;
    width: auto;
    margin: 0 auto 0;
    border: 3px solid #fff;
  }

  ion-item {
    --ion-background-color: transparent !important;
  }

  
  
